---
import LandingHeader from "../components/LandingHeader.astro";
import LandingSection from "../components/LandingSection.astro";
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Tesla - Electric Cars">
  <LandingHeader />
  <main
    class="snap-y snap-mandatory realtive w-full h-screen overflow-auto scroll-m-0"
  >
    <div class="snap-center">
      <Section
        title="Experience Tesla"
        subtitle="Schedule a Demo Drive Today"
        color="white"
      >
        <div slot="footer">
          <a
            class="bg-white/5 backdrop-blur-sm border-white hover:bg-white hover:text-black transition-colors text-white text-sm border-2 rounded font-medium px-12 py-2"
            href="#">Demo Drive</a
          >
        </div>

        <video
          slot="background"
          class="object-center object-cover h-full w-full"
          autoplay
          muted
          loop
          src="/video.webm"></video>
      </Section>
    </div>
    <div class="snap-center">
      <Section
        title="Model Y"
        subtitle="Schedule a Demo Drive Today"
        color="black"
      >
        <div slot="footer" class="flex gap-x-6 justify-center">
          <a
            class="hover:bg-black hover:text-white transition-colors bg-gray-700 text-white text-sm rounded font-medium px-12 py-2"
            href="#">Explore Inventory</a
          >
          <a
            class="bg-white hover:bg-black hover:text-white transition-colors text-black text-sm rounded font-medium px-12 py-2 justify-center items-center"
            href="#">Custom Order</a
          >
        </div>
        <img
          slot="background"
          src="/model-y.avif"
          alt="Model Y"
          class="h-full w-full object-cover object-center"
        />
      </Section>
    </div>
  </main>
</Layout>
