<section
  class="landing-section h-screen w-screen text-center relative overflow-hidden"
  data-header-color="white"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-white pt-28 text-4xl font-medium">Experience Tesla</h2>
      <p class="text-white text-sm">Schedule a Demo Drive Today</p>
    </header>
    <footer class="flex flex-col flex-grow justify-end pb-20">
      <div>
        <a
          class="bg-white/5 backdrop-blur-sm border-white hover:bg-white hover:text-black transition-colors text-white text-sm border-2 rounded font-medium px-12 py-2"
          href="#">Demo Drive</a
        >
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full z-10 w-full">
    <video
      class="object-center object-cover h-full w-full"
      autoplay
      muted
      loop
      src="/video.webm"></video>
  </div>
</section>
